<div class="my-2">
  <h2>ConcatMap</h2>
  <br />

  <div class="row">
    <div class="col-md-4">
      <strong> Ex -1 |Map</strong>
      <hr />
      <p class="bg-light py-2 px-3 border roudend">
        <strong>Videos:</strong> =['Tech','Comedy','News']
      </p>
      <ul id="elContainer"></ul>
      <br />
    </div>

    <div class="col-md-4">
      <strong> Ex-2 | Map+ ConcatAll</strong>
      <hr />
      <p class="bg-light py-2 px-3 border roudend">
        <strong>Videos:</strong>['Tech','Comedy','News']
      </p>

      <ul id="elContainer2"></ul>
      <br />
    </div>

    <div class="col-md-4">
      <strong>Ex-3 |ConcatMap</strong>
      <hr />
      <p class="bg-light py-2 px-3 border roudend">
        <strong>News video list:</strong>['Tech','Comedy','News']
      </p>
      <ul id="elContainer3"></ul>
      <br />
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">Your Channel(Subscribe)</div>
        <div class="card-body">
          <ul id="elContainer"></ul>
        </div>
      </div>
    </div>
  </div>
</div>
