<div class="container my-3">
  <h2>Custom Observal</h2>
  <br />

  <div class="row">
    <div class="col-md-6">
      <strong>Ex - 01 (Manual)</strong>
      <hr />
      <ul
        [ngClass]="
          techStatus == 'completed'
            ? 'completed'
            : techStatus == 'error'
            ? 'error'
            : ''
        "
        class="techlist"
        id="elContainer"
      ></ul>
    </div>

    <div class="col-md-6">
      <strong>Ex - 02 (Custom Interval Observal)</strong>
      <hr />
      <ul
        [ngClass]="
          techStatus2 == 'completed'
            ? 'completed'
            : techStatus2 == 'error'
            ? 'error'
            : ''
        "
        class="techlist"
        id="elContainer2"
      ></ul>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-12">
      <br />
      <strong>Ex - 3(Random Names)</strong>
      <br />
      <p class="bg-light py-3 px-2 border rounded">
        <strong>Random Names: </strong>'Anup','Priyank','Karan','Alex','John'
      </p>
      <hr />
      <p>
        Current Name:<strong class="text-success">{{ names }}</strong>
      </p>
      <span
        class="badge"
        [ngClass]="
          nameStauts == 'completed'
            ? 'bg-success'
            : nameStauts == 'error'
            ? 'badge-danger'
            : 'badge-primary'
        "
        >Success</span
      >
    </div>
  </div>
</div>
