<div class="container my-3">
  <h2>Interval</h2>
  {{ obsmsg }}<br /><br />

  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">List</div>
        <div class="card-body">
          <ul id="elContainer"></ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">List</div>
        <div class="card-body">
          <ul id="elContainer2"></ul>
        </div>
      </div>
    </div>
  </div>
</div>
