<div class=" container my-3">
    <h1>promise</h1>
    <!-- <button class="btn btn-primary" (click)="myfunction()"></button> -->
   <p>OUTPUT:</p>
    <p>{{promiseval.brand}}</p>
    <p>{{promiseval.harddisk}}</p>
</div>