<div class="container my-2">
  <h2>MergeMap</h2>
  <br />

  <div class="row">
    <div class="col-md-4">
      <strong> Ex -1 |Map</strong>
      <hr />
      <p class="bg-light py-2 px-3 border roudend">
        <strong>Videos:</strong> =['Tech','Comedy','News']
      </p>
      <ul>
        <li id="elContainer"></li>
      </ul>
      <br />
    </div>

    <div class="col-md-4">
      <strong> Ex-2 | Map+ MergeAll</strong>
      <hr />
      <p class="bg-light py-2 px-3 border roudend">
        <strong>Videos:</strong>['Tech','Comedy','News']
      </p>

      <ul>
        <li id="elContainer2"></li>
      </ul>
      <br />
    </div>

    <div class="col-md-4">
      <strong>Ex-3 |meargeMap</strong>
      <hr />
      <p class="bg-light py-2 px-3 border roudend">
        <strong>News video list:</strong>['Tech','Comedy','News']
      </p>
      <ul>
        <li id="elContainer3"></li>
      </ul>
      <br />
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">Your Channel(Subscribe)</div>
        <div class="card-body">
          <ul id="elContainer"></ul>
        </div>
      </div>
    </div>
  </div>
</div>
